<nav style="display: flex; flex-direction: column; justify-content: space-evenly; text-align: center; background-color: aqua;">
        <div>
            <h1>One Blog</h1>
            <p>Super Blog</p>
        </div>
        <ul style="list-style-type: none; display: flex; justify-content: space-evenly; text-align: center; background-color: rgb(57, 173, 70); ">
            <li><a href="/" style="text-decoration: none;">Home</a></li>
            <li><a href="/about" style="text-decoration: none;">About</a></li>
            <li><a href="/blogs" style="text-decoration: none;">Blogs</a></li>
        </ul>
    </nav>